* {
	margin:0;
	padding:0;
}


body{
background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.box {
	height: 70vh;
	background: #fff;
	color: #888888;
	margin: 20px 60px;
	padding: 30px 60px;
	width: 100%;
	text-align: center;
	box-shadow: 2px 2px;
}

#one{
	width: 100%;
}


#two {
	width: 100%;
	height: auto;
}

#two #fullList {
	margin: 40px auto;
}

#two #fullList li:first-child{
	font-weight: bold;
	background-color: #D00000;
	color: #fff; 
}

#two #fullList li:nth-child(2){
	font-style: italic;
	font-weight: bold;
}


#two #fullList li {
	list-style: none;
	border-bottom: 1px solid #ccc;
	margin: 10px auto;
}



.title{
	font-family: 'Rammetto One', cursive;
}

.bodywrap{
	width: 85%;
	margin:25px auto;

}


.totalbox {
   height: 18vh;
	background: #fff;
	color: #888888;
	margin: 20px auto;
	padding: 30px 60px;
	width: 50%;
	text-align: center;
	box-shadow: 2px 2px;

}

table {
	margin: 40px 40px;
}

table tr{
		margin: 40px 40px;

}

/*Modal*/


.modal{
	
	z-index: 1;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
  
    background-color: rgba(0,0,0,0.5);
    display: none;

}

.modal-content{
	background-color:#f4f4f4;
	margin:10% auto;
	padding: 20px;
	width: 30%;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
}

.closeBtn{
	color: #ccc;

	font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus{
	color:#000;
	text-decoration: none;
	cursor: pointer;
}

#submitInfo{
	width: 30%;
	margin: 5px auto;
}

#cancelInfo{
	width: 30%;
	margin: 5px auto;
}


